.o_list_table th:not(:last-child) {
    position: relative;
}

.o_list_table th:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 4px;
    cursor: col-resize;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    z-index: 10;
    transition: opacity 0.2s;
}

.o_list_table th:not(:last-child):hover::after {
    opacity: 1;
    background: rgba(169, 169, 169, 0.449);
}