.o_list_table .o_data_cell[name="notes"] {
    white-space: normal !important;
    word-wrap: break-word !important;
    max-width: 150px !important;
    overflow-wrap: break-word !important;
}

.o_list_table .o_data_cell[name="project_task"] {
    white-space: normal !important;
    word-wrap: break-word !important;
    max-width: 250px !important;
    overflow-wrap: break-word !important;
}