.peepl_weekly_report_list .o_progressbar_value.is-red {
    background-color: #e74c3c !important;
}

.peepl_weekly_report_list .o_progressbar_value.is-yellow {
    background-color: #f1c40f !important;
}

.peepl_weekly_report_list .o_progressbar_value.is-green {
    background-color: #2ecc71 !important;
}